
.form {
  border: 1px solid #f1f1f1;
}

.email_input, .password_input {

  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.submit_btn {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.submit_btn:hover {
  opacity: 0.8;
}

.container {

  display: grid;
  margin-left : 30% ;
  margin-right  : 30% ;
}

.row {

}
.col_lg_6 { 


}